{% extends 'index.html' %}

{% block content %}

<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Donaciones
    </h1>
  </section>

   <!-- Main content -->
   <section class="content">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Ingresar nuevo profesional </h3>
          
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">

        <form>

          <div class="form-group">
            <label for="NombreInfantil">Nombre/s</label>
            <input type="text" class="form-control" id="NombreInfantil" placeholder="">
          </div>

          <div class="form-group">
            <label for="ApellidoInfantil">Apellidos</label>
            <input type="text" class="form-control" id="ApellidoInfantil" placeholder="">
          </div>


          <div class="form-group">
            <label for="RutInfantil">Rut (Sin puntos ni guion) </label>
            
            <input type="number" class="form-control" id="RutInfantil" placeholder="">
          </div>


          <div class="form-group">
            <label for="RutInfantil"></label>
            
            <input type="number" class="form-control" id="RutInfantil" placeholder="">
          </div>

          <div class="form-group">
            <label for="NombreInfantil">Nacionalidad</label>
            <input type="text" class="form-control" id="NombreInfantil" placeholder="">
          </div>
          
          <div class="form-group">
            <label for="NombreInfantil">Direccion</label>
            <input type="text" class="form-control" id="NombreInfantil" placeholder="">
          </div>

          <div class="form-group">
            <label for="NombreInfantil">Telefono</label>
            <input type="number" class="form-control" id="NombreInfantil" placeholder="">
          </div>

          <div class="form-group">
            <label for="NombreInfantil">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="NombreInfantil" placeholder="">
          </div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary mb-2">Confirmar</button>
      </div>
      <!-- /.box-footer-->
          </form>
    </div>
    <!-- /.box -->
  </div>  
  

  <div class="col-lg-6 col-xs-12">
     <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Administracion de perfiles </h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">

        <form>
          <div class="form-group">
            <label for="">Buscar Perfil</label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          
          
         
        </form>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </div>
   
</div>

  </section>
  <!-- /.content -->

</div>
  {% endblock %}